apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  channel: {{ certmanager_channel }}
  name: cert-manager
  source: {{ certmanager_source }}
  sourceNamespace: openshift-marketplace
  installPlanApproval: Automatic
